<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Enak's Restaurants</title>
</head>

<body>
    <!-- Ini digunakan untuk langsung menuju konten -->
    <a href="#content" class="skip-to-content">Skip to Content</a>

    <!-- untuk bagian logo pada tampilan mobile -->
    <div class="menu-mobile">
        <div class="iconmenu" id="menu"><a id="hamburger" href="#" aria-label="navigation-menu">☰</a></div>
        <div class="logo-mobile">Enak's Restaurants</div>
        <div class="logo-mobile">&nbsp;</div>
    </div>

    <!-- Untuk menu navigasi mobile -->
    <nav id="drawer" class="nav-mobile">
        <ul class="navlist-mobile">
            <li class="nav-item-mobile"><a href="/">home</a></li>
            <li class="nav-item-mobile"><a href="#">Favorite</a></li>
            <li class="nav-item-mobile"><a href="https://github.com/ArifFirmansyah19">About Us</a></li>
        </ul>
    </nav>

    <!-- Untuk menu navigasi pada dekstop -->
    <nav class="navigasi">
        <div class="logo-dekstop">
            <p> Enak's Restaurants</p>
        </div>
        <ul class="navlist-dekstop">
            <li class="nav-item-dekstop"><a href="/">home</a></li>
            <li class="nav-item-dekstop"><a href="#">Favorite</a></li>
            <li class="nav-item-dekstop"><a href="https://github.com/ArifFirmansyah19">About Us</a></li>
        </ul>
    </nav>

    <!-- jumbotron -->
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_4.jpg');">
        <div class="hero-content">
            <h1 class="hero-title">Enak's Restaurants</h1>
            <p class="hero-subtitle">Find Your Favorite Food Here. Enjoy a Full Quality Meal At a Reasonable Price</p>
        </div>
    </div>

    <!-- content web -->
    <main id="content">
        <section class="content">
            <div class="latest">
                <h1>Explore Restaurant</h1>
                <div class="list" id="list-content"></div>
            </div>
        </section>
    </main>

    <footer>
        <p>Copyright © 2022 - Arif Chandra Firmansyah</p>
    </footer>
</body>

</html>